$breakpoint-xs: 0;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
$breakpoint-xxl: 1320px;

$font-normal: 'Quicksand semiBold', Helvetica, sans-serif;
$font-bold: 'Quicksand bold', Helvetica, sans-serif;
$font-medium: 'Inter medium', Helvetica, sans-serif;
$font-semi-bold: 'Inter semiBold', Helvetica, sans-serif;
$font-regular: 'Inter regular', Helvetica, sans-serif;
$font-light: 'Inter light', Helvetica, sans-serif;
$font-inter: 'Inter', Helvetica, sans-serif;
$font-quicksand: 'Quicksand medium', Helvetica, sans-serif;
$font-quicksand-medium: 'Quicksand medium', Helvetica, sans-serif;
$font-farsan: 'Farsan', Helvetica, sans-serif;