@import "~bootstrap/scss/bootstrap.scss";
@import "~bootstrap/scss/_functions";
@import "~bootstrap/scss/_variables";


html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.rounded-border {
  border-radius: 20px;
}

.rounded-border-sm {
  border-radius: 10px;
}
